body {
    text-align: center;
    font-family: monospace;
    background-image: url(../img/bk1.jpg);
    color: white;
}


h1 {
    font-size: 40px;
    color: white;
}


h2 {
    color: orange;
}

h3 {
    color: orange;
}


h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
}


#userStories p {
    font-size: 22px;
}

input {
    border-radius: 40px;
    width: 300px;
    padding-left: 20px;
    color: black;
    padding-top: 4px;
}

.btn {
    border-radius: 10px;
    background-color: darkred;
    border-color: darkred;
}

